.equation-box {
    border: 2px solid #003666; /* Bordure verte */
    padding: 20px;
    background-color: #f3f3f3; /* Fond gris clair */
    width: auto; /* S'adapte au contenu */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Centré avec une marge */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
    border-radius: 15px; /* Coins arrondis */
    font-family: 'Roboto', sans-serif; /* Police de caractères */
    font-size: 18px; /* Taille de la police */
    color: #333; /* Couleur du texte */
}

.equation-box equation* {
    margin: 5px 0;
}
